<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <a href="">
        <img
          src="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/aa31911c746c4d7d027b190f2e184834.jpe"
          alt=""
        />
      </a>
    </div>
    <div class="small-card__title">
      <h1><a href=""> Nova temporada de Boku no Hero Academia! </a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
