.social-icon {
    width: 1rem;
    height: 1rem;
}

.container__menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container__menu-bar > ul {
    display: flex;
    flex-direction: row;
}

.container__menu-bar > ul > li {
    margin-top: 20px;
    margin-right: 30px;
}

